<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyh.mapper.UserMapper">
<!-- 登录 -->
<select id="login" parameterType="user" resultType="com.hyh.pojo.User">
	select * from t_user where name=#{name} and pwd = #{pwd};
</select>
<!-- 根据用户获取角色 -->
<select id="findRoleById" parameterType="int" resultType="role">
	select min(r.rid) rid from t_user u left join t_user_role ur on u.id = ur.uid left join t_role r on ur.rid = r.rid where u.id = #{id};
</select>
<!-- 查询权限列表 -->
<select id="getModuleList" parameterType="int" resultType="module">
	select m.* from t_role r left join t_role_module rm on r.rid = rm.rid left join t_module m on m.mid=rm.mid where r.rid=#{rid}
</select>
<!-- 列表 -->
<select id="findUserList" resultType="user">
	select u.*,group_concat(r.rname)rname from t_user u left join t_user_role ur on u.id = ur.uid left join t_role r on ur.rid = r.rid group by u.id;
</select>
<!-- 删除 -->
<delete id="deletd" parameterType="int">
	delete from t_user where id = #{id};
	
	delete from t_user_role where uid = #{id}
</delete>
<!-- 追加职位 -->
<select id="findRoleList" resultType="role">
	select  * from t_role;
</select>
<!-- 添加 -->
<insert id="add" parameterType="user">
	insert into t_user values(0,#{name},#{pwd},#{sex},#{hobby});
	<foreach collection="ridList" item="rid">
	insert into t_user_role values((select max(id) from t_user),#{rid});
	</foreach>
</insert>
</mapper>